# This is a basic workflow to compile APK flutter

name: Flutter Web Publish

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository Flutter
        uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo ### Hello Flutter CI! ###

      # Runs a JAVA
      - name: Configurate JAVA
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      # Flutter actions setup
      - name: Flutter actions setup
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Flutter doctor (diagnose)
        run: flutter doctor -v

      # Flutter change directory
      - name: Flutter No interactions
        run: flutter config --no-cli-animations
        working-directory: ./aparcamientoszaragoza

      # Flutter LS
      - name: Flutter LIST (repo root)
        run: ls -la

      # Flutter PWD
      - name: Flutter PWD (repo root)
        run: pwd

      # Flutter pub get
      - name: Flutter GET
        run: flutter pub get
        working-directory: ./aparcamientoszaragoza

      # Flutter format
      #- name: Flutter FORMAT
      #  run: flutter format --set-exit-if-changed

      # Flutter ANALYZE
      #- name: Flutter ANALYZE
      #  run: flutter analyze .

      # Flutter BUILD
      - name: Flutter BUILD
        run: flutter build web --release --base-href "/aparcamientoszaragoza-flutter/"
        working-directory: ./aparcamientoszaragoza

      #- name: Deploy Web to Github Pages
      #  uses: bluefireteam/flutter-gh-pages@v7
      #  with:
      #   workingDir: ./aparcamientoszaragoza
      #   webRenderer: canvasKit

      - name: Deploy Web to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./aparcamientoszaragoza/build/web
          force_orphan: true
          user_name: 'github-ci[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: 'Publish to gh-pages'

